/* @media (max-width: 991px) {
    .action__btn-cart {
        position: absolute;
        top: 50%;
        right: 120px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .action__btn-user {
        position: absolute;
        top: 50%;
        right: 80px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .action__btn-search {
        right: 160px;
    }


    .action__btn-user .dropdown-menu {
        left: unset;
        right: 0;
        min-width: 100px;
        padding: 5px 0 5px;

    }

}

@media (min-width: 992px) {
    .action__btn-user .dropdown-menu {
        left: unset;
        right: 0;
        min-width: 100px;
        padding: 5px 0 5px;
    }
} */

body>section.contact-layout2.pt-60.bg-overlay.bg-overlay-blue-gradient.pb-60>div>div>div>div>form>div>div:nth-child(3)>div>div>ul,
body>section.contact-layout2.pt-60.bg-overlay.bg-overlay-blue-gradient.pb-60>div>div>div>div>form>div>div:nth-child(5)>div>div>ul,
body>section.contact-layout2.pt-60.bg-overlay.bg-overlay-blue-gradient.pb-60>div>div>div>div>form>div>div:nth-child(8)>div>div>ul {
    height: 200px;
    overflow-y: scroll;
}

/* .form-group {
    position: relative;
}

.error-message {
    position: absolute;
    top: 57px;
    left: 28px;
} */
/* .form-group {
    margin-bottom: 1px;
    margin-top: 1px;
} */

.form-control {
    margin-bottom: 20px;
}

/* DASHBOARD */
/* .appointment {
    height: 100vh;
    overflow-y: scroll;
} */

.avatar {
    width: 200px;
    height: 200px;
}

.edit-profile {
    margin-bottom: 70px;
    padding: 20px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}